/* STYLE DLA 320PX */


body {
    background-image: url('../images/tlo_glowne_strony.jpg');
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    font-family: sans-serif;
}


/* ##################################################### */
/* #####    -->>   OGÓLNY UKLAD SZABLONU            #### */
/* #####    -->>   pozycje + wymiary                #### */
/* ##################################################### */


/* SEKCJA -- NAGLÓWEK */

div#reklama {
    width: 728px;
    height: 90px;
    border: thin dotted #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding-left: inherit;
    padding-right: inherit;
}

div#all {
    width: 1058px;
    border: 2px solid #67818E;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url('../images/tlo_uniw.jpg');
}

#naglowek_strony {
    position: relative;
    width: 1058px;
    height: 225px;
    border: none;
    border-radius: 15px 15px 0px 0px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/header.png');
}

div#gorna-belka {
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#box-gora-caly {
    width: 1050px;
    /* 	height: 100px; */
    /* 	border: thin solid #00ED00; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

#menu_gorne {
    width: 1058px;
    height: 31px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 2px;
    background-image: url('../images/tlo_menu_gorne.png');
}

#trzy-boxy-gora {
    position: relative;
    width: 1050px;
    height: 168px;
    max-height: 258px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    /* 	background-image: url('../images/tlo.jpg'); */
}

#box-g-1 {
    position: relative;
    float: left;
    width: 346px;
    height: 160px;
    border: none;
    margin-left: 2px;
    margin-right: auto;
    margin-top: 3px;
}

#box-g-2 {
    position: relative;
    float: left;
    width: 348px;
    height: 160px;
    border-left: 2px solid #bedbf8;
    border-right: 2px solid #bedbf8;
    margin-left: 0;
    margin-right: auto;
    margin-top: 3px;
}

#box-g-3 {
    position: relative;
    float: right;
    width: 346px;
    height: 160px;
    border: none;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 3px;
}

#kontener {
    position: relative;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

#lewa {
    width: 690px;
    position: relative;
    float: left;
    border: thin solid silver;
    margin-left: 0;
    margin-top: 3px;
    margin-right: 4px;
    background-image: url('../images/tlo.jpg');
}

#srodek {
    position: relative;
    float: left;
    width: 170px;
    /* 	border: 1px solid aquamarine; */
    /* 	border-radius: 10px; */
    margin-left: 4px;
    margin-right: 3px;
    margin-top: 3px;
    background-image: url('../images/tlo_uniw.jpg');
    text-align: left;
}

#prawa {
    position: relative;
    float: right;
    width: 170px;
    /* border: 1px solid aquamarine;
	border-radius: 10px; */
    margin-left: auto;
    margin-right: 0;
    margin-top: 3px;
    background-image: url('../images/tlo_uniw.jpg');
    text-align: left;
}

#box-dol-caly {
    width: 1050px;
    min-height: 100px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    clear: both;
}

#trzy-boxy-dol {
    position: relative;
    width: 1050px;
    min-height: 258px;
    /*border: thin solid silver;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#657B88), to(#0E3B4E));
    background-image: -webkit-linear-gradient(top, #657B88, #0E3B4E);
    background-image: -moz-linear-gradient(top, #657B88, #0E3B4E);
    background-image: linear-gradient(to bottom, #657B88, #0E3B4E);
}

#box-d-1 {
    position: relative;
    float: left;
    width: 346px;
    height: 250px;
    max-height: 300px;
    overflow: hidden;
    border: none;
    margin-left: 2px;
    margin-right: auto;
    margin-top: 3px;
}

#box-d-2 {
    position: relative;
    float: left;
    width: 348px;
    height: 250px;
    max-height: 300px;
    border-left: 3px solid #67818E;
    border-right: 3px solid #67818E;
    margin-left: 0;
    margin-right: auto;
    margin-top: 3px;
    overflow: hidden;
}

#box-d-3 {
    position: relative;
    float: right;
    width: 346px;
    height: 250px;
    max-height: 300px;
    border: none;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 3px;
    overflow: hidden;
}

#stopka {
    position: relative;
    width: 1050px;
    height: 60px;
    /*border: thin solid silver;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 3px;
    background-color: #0E3B4E;
}

/* ELEMENTY WSPÓLNE */


div.pagination
		{
			position: relative;
			width: 99%;
			float: left;
			border-top: 1px solid #555555;
        	margin: 1px 1px 1px 1px;
        	text-align: center;
		}

div.pagination p
			{
				font-style: italic;
				text-align: center;
				font-size: 12px;
				font-weight: 700;
				color: #555555;
			}

div.pagination ul
			{
				list-style: none;
				padding: 0;
			}

div.pagination ul li
			{
				list-style: none;
				display: inline;
			}

	ul li span.pagenav,
	ul li a.pagenav,
	ul li a.pagenav:hover
		{
			color: #555555;
			padding: 3px;
			font-size: 12px;
			font-family: verdana;
		}
/*  TAGI */
ul.tags
{
	margin: 10px;
	text-align: center;
	list-style-type: none;
	list-style-position: outside;
	
}

ul.tags li
{
	display: inline;
	margin: 5px;
	text-align: center;
	border: 1px solid #800040;
	border-radius: 5px;
	background-color: #555;
}

ul.tags a
{
	margin: 4px;
	text-align: center;
	text-decoration: none;
	color: white;	 
}

/* FORMULARZ - WYSZUKIWANIE W LISTACH */
form#adminForm.form-inline fieldset.filters.btn-toolbar
{
	width: 80%;
	border-radius: 10px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

form#adminForm.form-inline fieldset.filters.btn-toolbar div.btn-group label.filter-search-lbl.element-invisible,
form#adminForm.form-inline fieldset.filters.btn-toolbar div.btn-group.pull-right label.element-invisible
{
	font-size: 12px;
}

/* Tooltips */
div.tooltip {
	float: left;
	background: #e4e4e7;
	border: 1px solid #804040;
	padding: 5px;
	max-width: 200px;
	z-index:13000;
}

div.tooltip h4 {
	padding: 0;
	margin: 0;
	font-size: 80%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
}

div.tooltip p {
	font-size: 75%;
	margin: 0;
}


/* ####################################################### */
/* #####    -->>    Pasek wyszukiwania		         ##### */
/* ####################################################### */

#gorna-belka div.search
{
	width: 400px;
	margin-top: 10px;
	float: right;
}

#gorna-belka div.search label
{
	font-size: 13px;
	font-style: italic;
	color: #000;
}

#gorna-belka div.search .inputbox
{
	border: 1px solid aquamarine;
	border-radius: 5px;
	background: none repeat scroll 0% 0% #028796;
	color: white;
}

#gorna-belka div.search button.button
{
	border: 1px solid aquamarine;
	border-radius: 5px;
	background-image: url("../images/tlo_glowne_strony.jpg");
	color: white;
}

/* ####################################################### */
/* #####    -->>    Statystyki				         ##### */
/* ####################################################### */

div.moduletable dl.stats-module
{
	font-style: normal;
	font-size: 13px;
	margin-left: 4px;
}

div.moduletable dl.stats-module dt
{
	padding-left: 3px;
	font-style: italic;
}

div.moduletable dl.stats-module dd
{
	padding-left: 6px;
	text-align: right;
	margin-right: 15px;
	margin-left: 0px;
	color: #0C3241;
}


/* ####################################################### */
/* #####    -->>    artykuły wyróżnione		         ##### */
/* ####################################################### */

div.blog-featured {
    position: relative;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    background-image: url('../images/tlo.jpg');
    height: auto;
    float: left;
}

div.blog-featured h2 a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color: #000;
    height: 19px;
    line-height: 14px;
    margin-top: 2px;
    width: 99%;
}

div.blog-featured h2 a:hover {
    color: #444;
}

div.blog-featured .caption {
    border-radius: 10px;
}

div.blog-featured p {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

div.blog-featured .leading-0,
div.blog-featured .leading-1 {
    width: 340px;
    position: relative;
    float: left;
    margin-left: 5px;
}

div.blog-featured .leading-0 .img_caption,
div.blog-featured .leading-1 .img_caption {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.blog-featured .items-row {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

div.blog-featured .item {
    width: 220px;
    position: relative;
    float: left;
    margin-left: 7px;
    margin-right: auto;
}

div.blog-featured .item h2 a {
    font-size: 11px;
    height: 13px;
    line-height: 13px;
}

div.blog-featured .item .caption {
    width: 210px;
}

div.blog-featured .items-more {
    clear: both;
    border-top: 1px solid #555555;
    margin: 1px;
    width: 99%;
}

div.blog-featured .items-more ol {
    text-align: left;
    font-size: 12px;
}

.blog-featured .items-more ol li a {
    color: #0c3241;
    text-decoration: none;
}

.blog-featured .items-more ol li a:hover {
    color: #0c3241;
    text-decoration: underline;
}

p.readmore a {
    border: 1px solid aquamarine;
    background-image: url("../images/tlo_glowne_strony.jpg");
    margin: 4px;
    padding: 4px;
    color: #FFF;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

p.readmore a:hover {
    border: 2px solid #00ff00;
    background-image: url("../images/tlo_glowne_strony.jpg");
    margin: 4px;
    padding: 4px;
    color: #00ff00;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* ####################################################### */
/* #####    -->>    jeden artykuł  			         ##### */
/* ####################################################### */

div.item-page {
    font-size: 13px;
    text-align: center;
}


div.item-page .page-header h2 {
    width: 97%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-image: url("../images/tlo_glowne_strony.jpg");
    color: #FFF;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

div.item-page .page-header h2 a,
div.item-page .page-header h2 a:hover {
    color: #d0e2e6;
}

div.img_caption.none {
    margin-left: auto;
    margin-right: auto;
}

div.item-page p {
    text-align: justify;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 13px;
    color: #444444;
}

.item-page p a {
    font-style: italic;
    color: #559999;
}

div.img_caption.none p.img_caption {
    font-size: 11px;
    color: #0000a0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

dl.article-info.muted {
    text-align: left;
    border: 1px solid #777;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

dl.article-info {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

dl.article-info dt {
    color: #555;
    margin-left: 5px;
}

dl.article-info dd {
    font-size: 13px;
    color: #444;
}

dl.article-info dd a {
    font-size: 13px;
    color: #ff0000;
    text-decoration: none;
}

dl.article-info dd a:hover {
    font-size: 13px;
    color: #ff0000;
    text-decoration: underline;
}

div.item-page ul.pager.pagenav {
    list-style: none;
    padding: 0;
}

div.item-page ul.pager.pagenav li {
    list-style: none;
    display: inline;
}

div.item-page ul.pager.pagenav li a,
div.item-page ul.pager.pagenav li a:hover {
    color: #555555;
    padding: 3px;
}


/* ####################################################### */
/* #####    -->>    Lista art. z tagiem		         ##### */
/* ####################################################### */


div.tag-category ul {
    list-style: none;
    padding: 0;
}

div.tag-category ul li {
    margin-top: 2px;
}

div.tag-category ul.category.list-striped li h3 {
    margin: 0px;
    font-size: 13px;
    font-weight: normal;
}

div.tag-category ul.category.list-striped li h3 a {
    text-decoration: none;
    color: #555555;
}

div.tag-category ul.category.list-striped li h3 a:hover {
    text-decoration: none;
    color: #ff0000;
}


/* ####################################################### */
/* #####    -->>    Lista kategorii 		         ##### */
/* ####################################################### */


div.blog h2 {
    width: 97%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-image: url("../images/tlo_glowne_strony.jpg");
    color: #FFF;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

div.blog p {
    font-size: 13px;
    color: #555;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

div.blog div.cat-children h3 {
    width: 75%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: 1px solid #444;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    background-color: #c8c8c8;
    line-height: 16px;
}

div.blog div.cat-children h3 a {
    color: #555;
}

div.blog div.cat-children h3 a:hover {
    color: #222;
}


/* ####################################################### */
/* #####    -->>    Lista kategorii 		         ##### */
/* ####################################################### */

div.category-list {
    font-size: 13px;
}

div.category-list div div.content-category {
    margin: 5px;
}

div.category-list div div.content-category h2 {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    color: #FFF;
    height: 18px;
    line-height: 18px;
    background-image: url("../images/tlo_glowne_strony.jpg");
    border: 1px solid aquamarine;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
}

div.category-list div div.content-category div.category-desc {
    margin: 5px;
    text-align: justify;
}

div.category-list div div.content-category div.category-desc a {
    color: #800000;
    text-decoration: none;
}

div.category-list div div.content-category div.cat-children div h3.page-header.item-title {
    width: 75%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: 1px solid #444;
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    background-color: #c8c8c8;
    line-height: 16px;
}

div.category-list div div.content-category div.cat-children div h3.page-header.item-title a {
    color: #555;
}

div.category-list div div.content-category div.cat-children div h3.page-header.item-title a:hover {
    color: #222;
}

table.category {
    width: 90%;
    opacity: 0, 5;
    margin: 5px auto;
}

table.category thead a {
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    color: #666;
}

table.category td.list-title {
    text-align: left;
}

table.category td.list-hits {
    text-align: right;
    margin-right: 10px;
}

table.category td a {
    color: #444;
    text-decoration: none;
}

table.category td a:hover {
    color: #400040;
    text-decoration: underline;
}


/* ####################################################### */
/* #####    -->>    Wyniki wyszukiwania		         ##### */
/* ####################################################### */

div.search h1.page-title {
    width: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: 1px solid aquamarine;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("../images/tlo_glowne_strony.jpg");
    color: #FFF;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

div.btn-toolbar {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

div.btn-toolbar input.inputbox {
    border: 1px solid gray;
    border-radius: 5px;
}

div.btn-toolbar button.btn.hasTooltip {
    width: 50px;
    height: 25px;
    margin-top: 5px;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
}

div.search div.searchintro {
    font-size: 15px;
    font-style: italic;
}

div.search form#searchForm fieldset.phrases {
    border-radius: 10px;
    font-size: 13px;
}

div.search form#searchForm fieldset.phrases legend {
    font-style: italic;
    text-align: left;
}

div.search form#searchForm fieldset.only {
    border-radius: 10px;
    font-size: 13px;
}

div.search form#searchForm fieldset.only legend {
    font-style: italic;
    text-align: left;
}

div.search form#searchForm div.form-limit {
    margin-top: 10px;
}

div.search form#searchForm div.form-limit label {
    font-size: 13px;
    font-style: italic;
}

div.search dl.search-results {
    text-align: justify;
    margin-right: 7px;
}

div.search dl.search-results dt {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
}

div.search dl.search-results dt a {
    color: #555;
    font-size: 15px;
}

div.search dl.search-results dd.result-category {
    color: #666;
    font-style: italic;
    font-size: 14px;
    margin-top: 4px;
    background-color: #dfdfdf;
}

div.search dl.search-results dd.result-text {
    font-size: 13px;
    color: #444;
}

div.search dl.search-results dd.result-text span.highlight {
    color: red;
}

div.search dl.search-results dd.result-created {
    font-size: 12px;
    color: #666;
}

/* ####################################################### */
/* #####    -->>   WYGLĄD MENU BOCZNEGO  +           ##### */
/* #####					 	 Nowości		  ##### */
/* ####################################################### */

div#trzy-boxy-gora div#box-g-1 div.moduletable,
div#trzy-boxy-gora div#box-g-2 div.moduletable,
div#trzy-boxy-gora div#box-g-3 div.moduletable
{
	margin-bottom: 5px;
	border: none;
}

div.moduletable
{
	border: 1px solid aquamarine;
	border-radius: 10px;
	margin-bottom: 5px;
}

div.moduletable h3
{
	text-align: center;
	font-size: 13px;
	font-style: normal;
	color: #FFF;
	height: 16px;
	line-height: 18px;
	background-image: url("../images/tlo_glowne_strony.jpg");
	border-radius: 10px;
	border: 1px solid aquamarine;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;

}

div.moduletable ul
{
	list-style-image: url('../images/ul_strzalka.png');
	list-style-type: none;
	list-style-position: inside;
	text-align: left;
	padding-left: 10px;
	margin-top: 2px;
	margin-right: 5px;
	font-size: 12px;
}

div.moduletable ul li:hover,
div.moduletable ul li.active
{
	background-image: url('../images/tlo.jpg');
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}

div.moduletable ul li a
{
	text-align: left;
 	text-indent: 12px;
  	text-decoration: none;
 	line-height: 15px;
  	color: black;
  	margin-right: 10px;
 	margin-left: 10px;
 	margin:0;
 	padding:0;
}

div.moduletable ul li a:hover,
div.moduletable ul li.active a
{
	text-align: left;
 	text-indent: 12px;
  	text-decoration: underline;
 	line-height: 15px;
  	color: #0c3241;
  	margin-right: 10px;
 	margin-left: 10px;
 	margin:0;
 	padding:0;
}

div.moduletable ul.latestnews li:hover,
div.moduletable ul.latestnews li.active
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* ####################################################### */
/* #####    -->>   Formularz logowania	             ##### */
/* ####################################################### */

div.moduletable form#login-form.form-inline
{
	margin-left: 4px;
	margin-right: 4px;
	font-style: italic;
	font-size: 13px;
	color: #0C3241;
}


div.moduletable form#login-form.form-inline div.userdata
div#form-login-username.control-group div.controls
div.input-prepend input#modlgn-username.input-small,
div.moduletable form#login-form.form-inline div.userdata
div#form-login-password.control-group div.controls
div.input-prepend input#modlgn-passwd.input-small
{
	color: #555;
	font-size: 13px;
	margin-left: 4px;
}

div.moduletable form#login-form.form-inline div.userdata
div#form-login-submit.control-group div.controls button.btn.btn-primary
{
	border: 1px solid aquamarine;
	border-radius: 5px;
	background-image: url("../images/tlo_glowne_strony.jpg");
	color: white;

}