body {
    background-color: #117573;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
}

#reklama {
    width: 728px;
    height: 90px;
    border: thin dotted #0E0E0E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    padding-left: auto;
    padding-right: auto;
}

#all {
    width: 1058px;
    border: 2px solid #67818E;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
}

#naglowek_strony {
    width: 1058px;
    height: 225px;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/header.png');
}

#box-gora-caly {
    width: 1050px;
    height: 100px;
    border: thin solid #00ED00;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

#menu_gorne {
    width: 1050px;
    height: 31px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-image: url('../images/tlo_menu_gorne.png');
}

#trzy-boxy-gora {
    width: 1050px;
    min-height: 258px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
}

#box-g-1 {
    position: relative;
    float: left;
    width: 346px;
    height: 250px;
    border: none;
    margin-left: 2px;
    margin-right: auto;
    margin-top: 3px;
}

#box-g-2 {
    position: relative;
    float: left;
    width: 348px;
    height: 250px;
    border-left: 3px solid #67818E;
    border-right: 3px solid #67818E;
    margin-left: 0;
    margin-right: auto;
    margin-top: 3px;
}

#box-g-3 {
    position: relative;
    float: right;
    width: 346px;
    height: 250px;
    border: none;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 3px;
}

#kontener {
    width: 1050px;
    min-height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

#lewa {
    width: 690px;
    height: 440px;
    position: relative;
    float: left;
    border: thin solid silver;
    margin-left: 0;
    margin-top: 3px;
    margin-right: 4px;
}

#srodek {
    position: relative;
    float: left;
    width: 170px;
    height: 440px;
    border: thin solid silver;
    margin-left: 4px;
    margin-right: 3px;
    margin-top: 3px;
}

#prawa {
    position: relative;
    float: right;
    width: 170px;
    height: 440px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: 0;
    margin-top: 3px;
}

#box-dol-caly {
    width: 1050px;
    min-height: 100px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

#trzy-boxy-dol {
    width: 1050px;
    min-height: 258px;
    border: thin solid silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

#box-d-1 {
    position: relative;
    float: left;
    width: 346px;
    height: 250px;
    border: none;
    margin-left: 2px;
    margin-right: auto;
    margin-top: 3px;
    
}

#box-d-2 {
    position: relative;
    float: left;
    width: 348px;
    height: 250px;
    border-left: 3px solid #67818E;
    border-right: 3px solid #67818E;
    margin-left: 0;
    margin-right: auto;
    margin-top: 3px;
}

#box-d-3 {
    position: relative;
    float: right;
    width: 346px;
    height: 250px;
    border: none;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 3px;
}

#stopka {
    width: 1050px;
    height: 60px;
    border: thin solid silver;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}